{% verbatim %}
<div ng-include="'partials/invoice.html'"></div>
<div ng-if="invoice.unpaidBalance > 0" class="btn-group">
  <button type="button" class="btn btn-large btn-primary" ng-click="showPayDialog()">Pay</button>
</div>
<div id="payInvoiceModal" class="modal hide fade">
  <div class="modal-header">
    <h3>Pay Invoice</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" id="payForm">
      <div class="control-group">
        <label class="control-label" for="card_num">
          Card number:
        </label>
        <div class="controls">
          <input type="text" id="card_num" placeholder="XXXXXXXXXXXXXXXX">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="cvc">
          Card CVC:
        </label>
        <div class="controls">
          <input type="text" id="cvc" placeholder="XXX">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Expiration:
        </label>
        <div class="controls">
          <input class="input-mini" type="text" id="exp_month" placeholder="MM"
          maxlength="2">/
          <input class="input-mini" type="text" id="exp_year" placeholder="YY"
          maxlength="2" >
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPayment">
          Payment:
        </label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">$</span>
            <input type="text" name="ccv" id="inputPayment"
            value="{{invoice.unpaidBalance}}">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="processCard()">Process</button>
    <button class="btn" ng-click="closePayDialog()">Cancel</button>
  </div>
</div>
{% endverbatim %}
