{% extends "base.html" %}

{% block title %}Resources{% endblock %}
{% block sectiontitle %}{{item.name}}{% endblock %}

{% block content %}
<h2>Metadata</h2>
<table>
  <tr><th>Name</th><th>Value</th></tr>
  {% if item.metadata.all %}
    {% for prop in item.metadata.all %}
    <tr><td>{{prop.name}}</td><td>{{prop.value}}</td>
    {% endfor %}
  {% else %}
    <tr><td colspan="3">No metadata</td></tr>
  {% endif %}
  {% if perms.inventory.can_add_metadata %}
  <tr><td colspan="3"><a href="{% url spiff.inventory.views.addMeta id=item.id%}">Add
        metadata</a></td></tr>
  {% endif %}
</table>
{% if item.trainable %}
<h2>Trained Users</h2>
<table>
  <tr><th>Name</th><th>Level</th></tr>
  {% if item.users.all %}
    {% for training in item.trainings.all %}
    <tr><td><a
          href="{{training.member.get_absolute_url}}">{{training.member}}</a></td><td>{{training.rank}}</td></tr>
    {% endfor %}
  {% else %}
    <tr><td colspan="2">Nobody!</td></tr>
  {% endif %}
</table>
<div class="barcode">
<img src="{% url spiff.inventory.views.qrCode id=item.id %}"/>
</div>
{% endif %}
{% endblock %}

