{% extends "base.html" %}

{% block title %}Resources{% endblock %}
{% block sectiontitle %}{{item.name}}{% endblock %}

{% block content %}
<h2>Metadata</h2>
<table>
  <tr><th>Name</th><th>Value</th></tr>
  {% if item.metadata.all %}
    {% for prop in item.metadata.all %}
    <tr><td>{{prop.name}}</td>
      <td>
        {% if prop.type == 0 %}
        {{prop.value}}
        {% endif %}
        {% if prop.type == 1 %}
        <a href="{{prop.value}}">{{prop.value}}</a>
        {% endif %}
        {% if prop.type == 2 %}
        <img src="{{prop.value}}"/>
        {% endif %}
      </td>
    {% endfor %}
  {% else %}
    <tr><td colspan="3">No metadata</td></tr>
  {% endif %}
  {% if perms.inventory.can_change_metadata %}
  <tr><td colspan="3"><a href="{% url spiff.inventory.views.addMeta id=item.id%}">Add/modify
        metadata</a></td></tr>
  {% endif %}
</table>
{% if item.trainable %}
<h2>Trained Users</h2>
<table>
  <tr><th>Name</th><th></th></tr>
  {% if item.users.all %}
    {% for training in item.trainings.all %}
    <tr><td><a
          href="{{training.member.get_absolute_url}}">{{training.member}}</a></td>
      <td>
        {% if training.rank <= myTraining.rank and training != myTraining %}
        <a href="{% url spiff.inventory.views.promoteTraining id=training.id %}">They are
          better than me</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  {% else %}
    <tr><td colspan="2">Nobody!</td></tr>
  {% endif %}
  {% if not myTraining and perms.inventory.can_train %}
  <tr><td colspan="2"><a href="{% url spiff.inventory.views.train id=item.id %}">I have used this!</a></td></tr>
  {% endif %}
</table>
{% endif %}
<h2>Related Events</h2>
<table>
  <tr><th>Name</th></tr>
  {% for event in item.events.all %}
  <tr><td><a href="{{event.get_absolute_url}}">{{event.name}}</a></td></tr>
  {% endfor %}
</table>
<h2>Changelog</h2>
<table>
  <tr><th>Date</th><th>Who</th><th>What</th></tr>
  {% for event in item.changelog.all %}
    <tr>
      <td>{{event.stamp}}</td>
      <td>{{event.member}}</td>
      <td>
        {% if event.property %}
          {% if event.old %}
            {% if event.new %}
              Changed {{event.property}} from {{event.old}} to {{event.new}}
            {% else %}
              Deleted {{event.property}} (was {{event.old}}
            {% endif %}
          {% else %}
            {% if event.new %}
            Added {{event.property}}: {{event.new}}
            {% else %}
              Did some property wizardry that spiff can't understand.
            {% endif %}
          {% endif %}
        {% elif event.trained_member %}
          Promoted {{event.trained_member}} from Level {{event.old}} to Level {{event.new}}
        {% else %}
          Did some wizardry that spiff can't understand.
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
<div class="barcode">
<img src="{% url spiff.inventory.views.qrCode id=item.id %}"/>
</div>
{% endblock %}

