<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Resources</h1>
    </div>
    <ul class="thumbnails">
      <li ng-repeat="resource in resources">
        <a ui-sref="viewResource({resourceID: resource.id})">
          <div class="thumbnail">
            <h3><span class="qr" qr-code size="32" text="{{$state.href('viewResource', {resourceID: resource.id}, {absolute: true})}}"></span>{{resource.name}}</h3>
          </div>
        </a>
      </li>
    </ul>
    <div class="pagination">
      <ul>
        <li ng-repeat="page in resources.meta.pages"><a href="#/resources" ng-click="gotoPage(page)">{{page}}</a></li>
      </ul>
    </div>
  </div>
</div>
