language: python
python:
  - "2.6"
  - "2.7"

install:
  - pip install -r pip-requirements
  - pip install coverage
script:
  - coverage run ./manage.py test
  - coverage report -m --include=\* --omit=\*/migrations/\*,settings.py,local_settings.py,manage.py,bulkops.py
