  <p>Your donations help keep us alive! If you are looking to set up a regular subscription to {{spaceAPI.space}}, please choose from one of the options below:</p>
  <ul class="thumbnails">
    <li ng-repeat="plan in plans">
      <div class="thumbnail" class="donation-plan-tile">
        <h3>{{plan.name}}</h3>
        <p>${{plan.value}} {{plan.period.name}}</p>
        <button class="btn btn-block" ng-click="startSubscription(plan)">Subscribe</button>
      </div>
    </li>
  </ul>
  <form class="form-horizontal">
  </form>
</div>
