{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block sectiontitle %}Your Membership{% endblock %}

{% block content %}
<div class="grid_2 alpha">
  <h2>Current Membership</h2>
  <ul>
    <li>Member since: {{user.member.created.date}}</li>
    <li>Expiration date: {{user.member.membershipExpiration.date}}</li>
  </ul>
  <h2>Groups</h2>
  <ul>
  {% if user.groups.all %}
    {% for g in user.groups.all %}
    <li>
      {{g}}
      {% if g.rank.monthlyDues > 0 %}
      (${{g.rank.monthlyDues}}/mo)
      {% endif %}
    </li>
    {% endfor %}
  {% else %}
    <li><em>None</em></li>
  {% endif %}
  </ul>
</div>

<div class="grid_10 omega">
  <div class="messages">
  {% if user.member.activeMember %}
    {% if not user.member.billedForMonth %}
      You have not yet been billed for this month.
    {% endif %}
    {% if user.member.outstandingBalance == 0 %}
    You are all paid up.
    {% else %}
      {% if user.member.overdue %}
        You are overdue!
      {% else %}
      You have an outstanding balance of ${{user.member.outstandingBalance}}
      {% endif %}
    {% endif %}
  {% else %}
    You are not an active member.
  {% endif %}
  </div>
  <h2>Open Invoices</h2>
    <table>
      <tr><th>ID</th><th>Due Date</th><th colspan="2">Total Unpaid</th></tr>
        {% for invoice in user.invoices.unpaid %}
          <tr>
            <td>{{invoice.id}}</td>
            <td>{{invoice.dueDate}}
            <td>${{invoice.unpaidBalance}}</td>
            <td><a href="{% url payment:pay invoiceID=invoice.id %}">Pay</a></td>
          </tr>
        {% endfor %}
    </table>
  <h2>Recent Payments</h2>
    <table>
      <tr><th>Date</th><th>Invoice</th><th>Total</th></tr>
      {% for payment in user.payments.all %}
        <tr>
          <td>{{payment.created}}</td>
          <td><a href="{{payment.invoice.get_absolute_url}}">{{payment.invoice}}</a></td>
          <td>${{payment.value}}</td>
        </tr>
      {% endfor %}
    </table>
</div>

<div class="clear"></div>

<div class="grid_8 alpha">
  <h2>Upcoming Events</h2>
  <table>
    <tr><th>Name</th><th>Start</th><th>End</th></tr>
    {% for event in events %}
      <tr><td><a href="{{event.get_absolute_url}}">{{event.name}}</a></td>
        <td>{{event.start}}</td>
        <td>{{event.end}}</td>
    {% endfor %}
  </table>
</div>

<div class="grid_4 omega">
  <h2>Your OpenIDs</h2>
  <div class="grid_2 alpha">
    <p>You may use these OpenIDs to login to Spiff</p>
    <ul>
      {% if user.useropenid_set.all %}
        {% for id in user.useropenid_set.all %}
          <li>{{id.display_id}} <a href="{% url spiff.local.views.unassociate_openid id=id.id %}">Remove</a></li>
        {% endfor %}
      {% else %}
        <li><em>None</em></li>
      {% endif %}
      {# TODO: an add one link #}
    </ul>
  </div>

  <div class="grid_2 omega">
    <p>These domains may use your Spiff account to login</p>
    <ul>
      {% if user.openid_set.all %}
        {% for id in user.openid_set.all %}
          {% for domain in id.trustedroot_set.all %}
            <li>{{domain.trust_root}}<a href="{% url spiff.local.views.untrust_openid_root id=domain.id %}">Remove</a></li>
          {% endfor %}
        {% endfor %}
      {% else %}
        <li><em>None</em></li>
      {% endif %}
    </ul>
  </div>
</div>

{% endblock %}
