{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block sectiontitle %}Your Membership{% endblock %}

{% block content %}
<h2>Groups</h2>
<ul>
{% if user.groups.all %}
  {% for g in user.groups.all %}
  <li>{{g}}</li>
  {% endfor %}
{% else %}
  <li><em>None</em></li>
{% endif %}
</ul>

<h2>Recent Payments</h2>
<div class="messages">
{% if user.member.activeMember %}
  {% if user.member.paidForMonth %}
  You are paid up for the month.
  {% else %}
    {% if user.member.overdue %}
      You are overdue!
    {% else %}
      You have not paid this month's dues.
    {% endif %}
  {% endif %}
{% else %}
  You are not an active member.
{% endif %}
</div>
<table>
  <tr><th>Date</th><th>Value</th><th>Membership Level</th></tr>
  {% for payment in user.member.payments.all %}
    <tr><td>{{payment.created}}</td><td>{{payment.value}}</td><td>{{payment.rank.group.name}}</td></tr>
  {% endfor %}
</table>

<h2>Upcoming Events</h2>
<table>
  <tr><th>Name</th><th>Start</th><th>End</th></tr>
  {% for event in events %}
    <tr><td><a href="{{event.get_absolute_url}}">{{event.name}}</a></td>
      <td>{{event.start}}</td>
      <td>{{event.end}}</td>
  {% endfor %}
</table>

<h2>Your OpenIDs</h2>
<p>You may use these OpenIDs to login to Spiff</p>
<ul>
  {% for id in user.useropenid_set.all %}
    <li>{{id.display_id}}</li>
  {% endfor %}
</ul>

<p>These domains may use your Spiff account to login</p>
<ul>

</ul>

{% endblock %}
