{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block pageTitle%}Your Membership{% endblock %}

{% block content %}
<div class="row">
  <div class="span4">
    <h2>Current Membership</h2>
    <ul>
      <li>Member since: {{user.member.created.date}}</li>
      <li>Expiration date: {{user.member.membershipExpiration.date}}</li>
    </ul>
    <h2>Groups</h2>
    <ul>
    {% if user.groups.all %}
      {% for g in user.groups.all %}
      <li>
        {{g}}
        {% if g.rank.monthlyDues > 0 %}
        (${{g.rank.monthlyDues}}/mo)
        {% endif %}
      </li>
      {% endfor %}
    {% else %}
      <li><em>None</em></li>
    {% endif %}
    </ul>
  </div>
  <div class="span8">
    <h2>Account Activity</h2>
  {% if user.member.activeMember %}
    {% if not user.member.billedForMonth %}
    <div class="alert alert-info">
      You have not yet been billed for this month.
    </div>
    {% endif %}
    {% if user.member.outstandingBalance == 0 %}
    <div class="alert alert-success">
      You are all paid up.
    </div>
    {% else %}
      {% if user.member.overdue %}
        <div class="alert alert-error">
          You are overdue!
        </div>
      {% else %}
        <div class="alert">
          You have an outstanding balance of ${{user.member.outstandingBalance}}
        </div>
      {% endif %}
    {% endif %}
  {% else %}
    <div class="alert alert-info">
      You are not an active member.
    </div>
  {% endif %}
    <table class="table table-striped table-hover">
      <tr><th>Invoice</th><th>Due Date</th><th colspan="2">Total Unpaid</th></tr>
      {% if user.invoices.unpaid %}
        {% for invoice in user.invoices.unpaid %}
          <tr>
            <td>#{{invoice.id}}</td>
            {% if invoice.isOverdue %}
              <td class="error">
              {% else %}
              <td>
            {% endif %}
              {{invoice.dueDate}}</td>
            <td>${{invoice.unpaidBalance}}</td>
            <td><a href="{% url 'payment:pay' invoiceID=invoice.id %}">Pay</a></td>
          </tr>
        {% endfor %}
      {% else %}
        <tr><th colspan="4"><div class="alert alert-success">No open invoices.</div></th></tr>
      {% endif %}
    </table>
    <h2>Recent Payments</h2>
      <table class="table table-striped table-hover">
        <tr><th>Invoice</th><th>Date</th><th>Total</th></tr>
        {% for payment in user.payments.all %}
          <tr>
            <td><a href="{{payment.invoice.get_absolute_url}}">#{{payment.invoice.id}}</a></td>
            <td>{{payment.created}}</td>
            <td>${{payment.value}}</td>
          </tr>
        {% endfor %}
      </table>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Upcoming Events</h2>
    <table class="table table-striped">
      <tr><th>Name</th><th>Start</th><th>End</th></tr>
      {% if events %}
        {% for event in events %}
          <tr><td><a href="{{event.get_absolute_url}}">{{event.name}}</a></td>
            <td>{{event.start}}</td>
            <td>{{event.end}}</td>
        {% endfor %}
      {% else %}
        <tr><th colspan="3"><div class="alert alert-info">None! You should schedule one!</div></th></tr>
      {% endif %}
    </table>
</div>

<div class="row">
  <div class="span12">
    <h2>Your OpenIDs</h2>
  </div>
</div>
<div class="row">
  <div class="span4">
    <p>You may use these OpenIDs to login to Spiff</p>
    <ul>
      {% if user.useropenid_set.all %}
        {% for id in user.useropenid_set.all %}
          <li>{{id.display_id}} <a href="{% url 'spiff.local.views.unassociate_openid' id=id.id %}">Remove</a></li>
        {% endfor %}
      {% else %}
        <li><em>None</em></li>
      {% endif %}
      {# TODO: an add one link #}
    </ul>
  </div>

  <div class="span4">
    <p>These domains may use your Spiff account to login</p>
    <ul>
      {% if user.openid_set.all %}
        {% for id in user.openid_set.all %}
          {% for domain in id.trustedroot_set.all %}
            <li>{{domain.trust_root}}<a href="{% url 'spiff.local.views.untrust_openid_root' id=domain.id %}">Remove</a></li>
          {% endfor %}
        {% endfor %}
      {% else %}
        <li><em>None</em></li>
      {% endif %}
    </ul>
  </div>
</div>

{% endblock %}
