{% extends "base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}

{% block title %}Login{% endblock %}
{% block pageTitle %}Login{% endblock %}

{% block messages %}
  {% if form.errors %}
  <div class="alert alert-error">
    <p>Invalid credentials. Please try again.</p>
  </div>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      {{form|as_bootstrap}}
      <div class="form-actions">
        <input type="hidden" name="text" value="{{next}}"/>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
