{% extends "base.html" %}

{% block title %}Search{% endblock %}
{% block sectiontitle %}Search Results{% endblock %}

{% block content %}

<form method="GET" 
<form method="GET" action="{% url spiff.local.views.search %}">
  {{searchForm.as_p}}
  <input type="submit" value="Search"/>
</form>

<h2>Resources</h2>
<ul>
{% for resource in resources %}
<li><a href="{{ resource.get_absolute_url }}">{{resource.name}}</a></li>
{% endfor %}
</ul>

<h2>Resource Metadata</h2>
<table>
  <tr><th>Resource</th><th>Key</th><th>Value</th></tr>
  {% for meta in metadata %}
  <tr><td><a
        href="{{meta.resource.get_absolute_url}}">{{meta.resource.name}}</a></td>
    <td>{{meta.name}}</td>
    <td>{{meta.value}}</td>
  </tr>
  {% endfor %}
</table>

<h2>Members</h2>
<ul>
  {% for member in members %}
  <li><a href="{{member.get_absolute_url}}">{{member.fullName}}</a></li>
  {% endfor %}
</ul>
{% endblock %}
