<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>
        <gravatar-image gravatar-email="Spiff.currentUser.email" gravatar-size="64"></gravatar-image>
        Your Membership
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h2>Current Membership</h2>
    <ul>
      <li>Member since: {{user.created|date:longDate}}</li>
      <li>Expiration date: {{user.membershipExpiration|date:longDate}}</li>
    </ul>
    <h2>Groups</h2>
    <ul>
      <li ng-repeat="group in user.groups">{{group.name}}
      </li>
    </ul>
    <h2>Subscriptions</h2>
    <ul>
      <li ng-repeat="subscription in user.subscriptions" ng-click="startUnsubscribe(subscription)" >{{subscription.plan.name}} (${{subscription.plan.periodCost}}/mo)</li>
    </ul>
  </div>
  <div class="span8">
    <h2>Account Activity</h2>
    <div ng-if="user.outstandingBalance" class="alert">You have an
      outstanding balance of ${{user.outstandingBalance}}</div>
    
    <table class="table table-striped table-hover">
      <tr>
        <th>Invoice</th>
        <th>Due Date</th>
        <th colspan="2">Unpaid Balance</th>
      </tr>
      <tr ng-repeat="invoice in invoices">
        <td><a href="#/invoices/{{invoice.id}}">{{invoice.id}}</a></td>
        <td>{{invoice.dueDate|date}}</td>
        <td>${{invoice.unpaidBalance}}</td>
        <td><a href="#/invoices/{{invoice.id}}/pay">Pay</a></td>
      </tr>
    </table>
    <div ng-if="stripeCards != null">
      <h3>Payment Cards</h3>
      <div class="alert" ng-if="!stripeCards.length">You don't have any
        payment cards associated with your account. <a class="btn" ng-click="addPaymentCard()">Add one for automatic payments.</a></div>
      <table ng-if="stripeCards.length" class="table table-striped table-hover">
        <tr>
          <th>Card</th>
          <th colspan="2">Expiration</th>
        </tr>
        <tr ng-repeat="card in stripeCards">
          <td>{{card.last4}}</td>
          <td>{{card.exp_month}}/{{card.exp_year}}</td>
          <td><button class="btn btn-small" ng-click="removeCard(card)">Remove</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="modal hide fade" id="subscriptionUnsubscribeModal">
  <div class="modal-header">
    <h3>Unsubscribe</h3>
  </div>
  <div class="modal-body">
    <!-- FIXME: Should really be using angularjs bootstrap modal bits... -->
    <p>You are about to remove this subscription:</p>
    <p class="subscription-name"></p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="unsubscribe()">Yes, remove this subscription</button>
    <button class="btn" ng-click="hideSubscriptionDetails()">Close</button>
  </div>
</div>

<div class="modal hide fade" id="paymentCardModal">
  <form class="form-horizontal" ng-submit="saveCard()">
    <div class="modal-header">
      <h3>Add a payment card</h3>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="card_num">
          Card number:
        </label>
        <div class="controls">
          <input type="text" id="card_num" placeholder="XXXXXXXXXXXXXXXX">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="cvc">
          Card CVC:
        </label>
        <div class="controls">
          <input type="text" id="cvc" placeholder="XXX">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          Expiration:
        </label>
        <div class="controls">
          <input class="input-mini" type="text" id="exp_month" placeholder="MM"
          maxlength="2">/
          <input class="input-mini" type="text" id="exp_year" placeholder="YY"
          maxlength="2" >
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save</button>
      <button class="btn">Cancel</button>
    </div>
  </form>
</div>
