<!DOCTYPE html>
<html ng-app="spiffApp">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="css/main.css"/>
  <link rel="stylesheet" type="text/css" href="css/ui-lightness/jquery-ui-1.10.4.custom.css"/>
  <script src="lib/jquery/jquery.js"></script>
  <script src="lib/bootstrap/bootstrap.js"></script>
  <script src="lib/jquery-ui/jquery-ui.js"></script>
  <script src="lib/jquery-qrcode/jquery.qrcode.min.js"></script>
  <script src="lib/underscore/underscore.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="lib/angularjs-gravatar/gravatar-directive.js"></script>
  <script src="lib/restangular/restangular.js"></script>

  <script src="lib/md5-service.js"></script>
  <script src="lib/ui/spiff.js"></script>
  <script src="lib/ui/controllers.js"></script>
  <script src="lib/ui/directives.js"></script>
  <script src="lib/ui/application.js"></script>

  <title>Spiff</title>
</head>
<body>
<div ng-include="'partials/epicenter.html'"></div>
<div class="container" id="canvas" ng-view>
</div>
<div class="container" id="footer">
  <div class="row">
    <div class="span10">
      <p class="text-muted"><a href="https://github.com/SYNHAK/spiff">Spaceman Spiff Manages Spaces.</a> | <a href="https://spiff.readthedocs.org/">Documentation</a></p>
      <p class="text-muted">Spiff is a side-effect of <a class="synhak-link" href="https://synhak.org"><span class="SYN">SYN</span>/<span class="HAK">HAK</span></a>.</p>
      <p class="text-muted">Made with <span class="heart">❤</span> by hackers for hackers.</p>
    </div>
    <div class="span2" ng-controller="EpicenterCtrl" check-permission="'is_superuser'">
      <div ng-if="hasPermission">
        <p><button ng-click="enterAdmin()" class="btn btn-warning">Administration</button></p>
      </div>
    </div>
    <div class="span4">
    </div>
  </div>
</div>
<div id="adminModal" class="modal hide fade">
  <div class="modal-header">
    <h3>Dark Magics Ahead</h3>
  </div>
  <div class="modal-body">
    <p>You are about to enter the administration interface. It is an unfettered
    look into Spiff's data model.</p>
    <p>If you need to use this for anything, <em class="text-error">this is a
      bug!</em> Please report it on github:</p>
    <div class="well"><a
      href="https://github.com/SYNHAK/spiff/issues/new">https://github.com/SYNHAK/spiff/issues/new</a></div>
    <!-- {% endverbatim %}
    <a href="{% url 'admin:index' %}" class="btn btn-block btn-large btn-warning">Ok, I
      understand.</a>
    {% verbatim %} -->
    <button onClick="$('#adminModal').modal('hide')" class="btn btn-block
      btn-large">Nevermind</button>
  </div>
</div>
</div>
<div id="errorModal" class="modal hide fade">
  <div class="modal-header">
    <h3>Spiff had an issue with what you did.</h3>
  </div>
  <div class="modal-body">
    Something weird happened. Spiff said "<code id="message"></code>".
    <pre id="traceback"></pre>
  </div>
</div>
</body>
