{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block title %}Edit {{editUser.member.fullName}}{% endblock %}
{% block pageTitle%}Editing {{editUser.member.fullName}}{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li>
      <a href="{{editUser.member.get_absolute_url}}">View</a>
      </li>
      <li class="active">
        <a href="#">Edit Profile</a>
      </li>
      {% if user == editUser %}
      <li>
        <a href="https://en.gravatar.com/emails">Change Avatar</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12">
    <form method="POST" action="{% url 'membership:edit' username=editUser.username%}">
      {{userForm|as_bootstrap}}
      {{profileForm|as_bootstrap}}
      {% csrf_token %}
      <input type="submit" value="Save"/>
    </form>
  </div>
</div>
{% endblock %}
