{% verbatim %}
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>
        <gravatar-image gravatar-email="Spiff.currentUser.email" gravatar-size="64"></gravatar-image>
        Your Membership
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h2>Current Membership</h2>
    <ul>
      <li>Member since: {{user.created|date:longDate}}</li>
      <li>Expiration date: {{user.membershipExpiration|date:longDate}}</li>
    </ul>
    <h2>Groups</h2>
    <ul>
      <li ng-repeat="group in user.groups">{{group.name}}
      </li>
    </ul>
    <h2>Subscriptions</h2>
    <ul>
      <li ng-repeat="subscription in user.subscriptions" ng-click="startUnsubscribe(subscription)" >{{subscription.plan.name}} (${{subscription.plan.periodCost}}/mo)</li>
    </ul>
  </div>
  <div class="span8">
    <h2>Account Activity</h2>
    <div ng-if="user.outstandingBalance" class="alert">You have an
      outstanding balance of ${{user.outstandingBalance}}</div>
    
    <table class="table table-striped table-hover">
      <tr>
        <th>Invoice</th>
        <th>Due Date</th>
        <th colspan="2">Total Unpaid</th>
      </tr>
      <tr ng-repeat="invoice in invoices">
        <td><a href="#/invoices/{{invoice.id}}">{{invoice.id}}</a></td>
        <td>{{invoice.dueDate}}</td>
        <td>{{invoice.unpaidBalance}}</td>
        <td><a href="#/invoices/{{invoice.id}}/pay">Pay</a></td>
      </tr>
  </div>
</div>
<div class="modal hide fade" id="subscriptionUnsubscribeModal">
  <div class="modal-header">
    <h3>Unsubscribe</h3>
  </div>
  <div class="modal-body">
    <!-- FIXME: Should really be using angularjs bootstrap modal bits... -->
    <p>You are about to remove this subscription:</p>
    <p class="subscription-name"></p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="unsubscribe()">Yes, remove this subscription</button>
    <button class="btn" ng-click="hideSubscriptionDetails()">Close</button>
  </div>
</div>
{% endverbatim %}
