<form class="form-horizontal" ng-submit="requestReset()">
  <div class="modal-header">
    <h3>Change Password</h3>
  </div>
  <div class="modal-body">
    <div class="control-group">
      <label class="control-label" for="current">
        Current Password:
      </label>
      <div class="controls">
        <input type="password" id="current" ng-model="d.current">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="new">
        New Password:
      </label>
      <div class="new">
        <input type="password" id="new" ng-model="d.new">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="btn" ng-click="$close()">Cancel</button>
  </div>
</div>

