<form class="form-horizontal" id="loginForm" ng-submit="login()">
  <div class="modal-header">
    <h3>Login</h3>
  </div>
  <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="username">
          Username:
        </label>
        <div class="controls">
          <input type="text" id="username" ng-model="d.username">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="username">
          Password:
        </label>
        <div class="controls">
          <input type="password" id="password" ng-model="d.password">
        </div>
      </div>
      <div ng-if="error">
        <div class="alert alert-error">{{error}}</div>
          <a ng-click="showPasswordReset()">Need to reset your password?</a></li>
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Login</button>
    <button class="btn" ng-click="$close()">Cancel</button>
  </div>
</form>
