<div class="modal-header">
  <h3>Dark Magics Ahead</h3>
</div>
<div class="modal-body">
  <p>You are about to enter the administration interface. It is an unfettered
  look into Spiff's data model.</p>
  <p>If you need to use this for anything, <em class="text-error">this is a
    bug!</em> Please report it on github:</p>
  <div class="well"><a
    href="https://github.com/SYNHAK/spiff/issues/new">https://github.com/SYNHAK/spiff/issues/new</a></div>
  <!-- {% endverbatim %}
  <a href="{% url 'admin:index' %}" class="btn btn-block btn-large btn-warning">Ok, I
    understand.</a>
  {% verbatim %} -->
  <button ng-click="close()" class="btn btn-block
    btn-large">Nevermind</button>
</div>
