{% load url from future %}
{% load gravatar %}
<html>
<head>
  <title>{% block title %}Spiff{% endblock %} - Spiff</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/main.css"/>
</head>
<body>
  <div id="header">
    <h1>{% block sectiontitle %}Spiff{% endblock %}</h1>
    <div id="epicenter">
      {% if user.is_anonymous %}
        Welcome! <a href="{% url 'django.contrib.auth.views.login' %}">Login</a>
        or <a href="{% url 'spiff.local.views.register' %}">Register</a>
      {% else %}
        {% gravatar user %}
        Welcome, {{user.member.fullName}}!
      {% endif %}
    </div>
    <div id="navbar">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'spiff.membership.views.index' %}">Members</a></li>
        <li><a href="{% url 'spiff.inventory.views.index' %}">Resources</a></li>
        {% if user.is_superuser %}
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}
        <li><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
      </ul>
    </div>
    <div id="messages">
      <ul>
        {% for message in messages %}
        <li class="message {{message.tags}}">{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    <br style="clear:both;"/>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
