{% load url from future %}
{% load gravatar %}
<html>
<head>
  <title>{% block title %}Spiff{% endblock %} - Spiff</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/reset.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/text.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/960.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/main.css"/>
</head>
<body>
  <div id="header" class="container_12">
    <div id="title" class="grid_7">
      <h1>{{site.name}}</h1>
    </div>
    <div id="epicenter" class="grid_3">
      {% if user.is_anonymous %}
        Welcome! <a href="{% url 'django.contrib.auth.views.login' %}">Login</a>
        or <a href="{% url 'spiff.local.views.register' %}">Register</a>
      {% else %}
      <a href="{{user.member.get_absolute_url}}">
        {% gravatar user %}</a>
      <p>Welcome, <a href="{{user.member.get_absolute_url}}">{{user.member.fullName}}!</a></p>
        <p><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></p>
      {% endif %}
    </div>
    <br class="clear"/>
    <div id="navbar" class="grid_9">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'spiff.membership.views.index' %}">Members</a></li>
        <li><a href="{% url 'spiff.inventory.views.index' %}">Resources</a></li>
        {% if user.is_staff %}
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}
      </ul>
    </div>
    <div id="search" class="grid_3">
      <form method="GET" action="{% url 'spiff.local.views.search' %}">
        {{searchForm.as_p}}
        <input type="submit" value="Search"/>
      </form>
    </div>
    <br class="clear"/>
    <div class="grid_12">
      {% if messages %}
      <div class="messages">
        <ul>
          {% for message in messages %}
          <li class="message {{message.tags}}">{{message}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    <br class="clear"/>
  </div>
  <div id="content" class="container_12">
    <div class="grid_12">
      <h1>{% block sectiontitle %}Spiff{% endblock %}</h1>
    </div>
    <br class="clear"/>
    <div class="grid_12">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <div id="footer" class="container_12">
    <div class="grid_3">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'spiff.membership.views.index' %}">Members</a></li>
        <li><a href="{% url 'spiff.inventory.views.index' %}">Resources</a></li>
        {% if user.is_staff %}
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="grid_9">
      <div id="copyright">
        Powered by <a href="https://github.com/synhak/spiff">Spaceman Spiff</a>
      <br style="clear:both;"/>
      </div>
    </div>
    <br class="clear"/>
  </div>
</body>
</html>
