<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
<html ng-app="spiffApp">
<head>
  <meta charset="utf-8">
  {% bootstrap_stylesheet_tag %}
  {% bootstrap_stylesheet_tag "responsive" %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/main.css"/>
  <script>var userID = 1;</script>

  <script src="{{STATIC_URL}}/js/libs/jquery-1.10.2.min.js"></script>
  <script src="{{STATIC_URL}}/js/libs/jquery-qrcode.js"></script>
  <script src="{{STATIC_URL}}/js/libs/underscore-min.js"></script>
  <script src="{{STATIC_URL}}/js/libs/angular.min.js"></script>
  <script src="{{STATIC_URL}}/js/libs/angular-route.min.js"></script>
  <script src="{{STATIC_URL}}/js/libs/md5-service.js"></script>
  <script src="{{STATIC_URL}}/js/libs/gravatar-directive.js"></script>
  <script src="{{STATIC_URL}}/js/libs/restangular.min.js"></script>
  <script src="{{STATIC_URL}}/js/libs/spiff.js"></script>
  <script src="{{STATIC_URL}}/js/ui/controllers.js"></script>
  <script src="{{STATIC_URL}}/js/ui/directives.js"></script>
  <script src="{{STATIC_URL}}/js/ui/application.js"></script>
  {% bootstrap_javascript_tag %}
  {% block extra_head %}{% endblock %}
  <title>Spiff</title>
</head>
<body>
{% verbatim %}
<div ng-include="'partials/epicenter.html'"></div>
<div class="container" id="canvas" ng-view>
</div>
<div class="container" id="footer">
  <div class="row">
    <div class="span10">
      <p class="text-muted"><a href="https://github.com/SYNHAK/spiff">Spaceman Spiff Manages Spaces.</a> | <a href="https://spiff.readthedocs.org/">Documentation</a></p>
      <p class="text-muted">Spiff is a side-effect of <a class="synhak-link" href="https://synhak.org"><span class="SYN">SYN</span>/<span class="HAK">HAK</span></a>.</p>
      <p class="text-muted">Made with <span class="heart">❤</span> by hackers for hackers.</p>
    </div>
    <div class="span2" ng-controller="EpicenterCtrl" check-permission="'is_superuser'">
      <div ng-if="hasPermission">
        <p><button ng-click="enterAdmin()" class="btn btn-warning">Administration</button></p>
      </div>
    </div>
    <div class="span4">
    </div>
  </div>
</div>
<div id="adminModal" class="modal hide fade">
  <div class="modal-header">
    <h3>Dark Magics Ahead</h3>
  </div>
  <div class="modal-body">
    <p>You are about to enter the administration interface. It is an unfettered
    look into Spiff's data model.</p>
    <p>If you need to use this for anything, <em class="text-error">this is a
      bug!</em> Please report it on github:</p>
    <div class="well"><a
      href="https://github.com/SYNHAK/spiff/issues/new">https://github.com/SYNHAK/spiff/issues/new</a></div>
    {% endverbatim %}
    <a href="{% url 'admin:index' %}" class="btn btn-block btn-large btn-warning">Ok, I
      understand.</a>
    {% verbatim %}
    <button onClick="$('#adminModal').modal('hide')" class="btn btn-block
      btn-large">Nevermind</button>
  </div>
</div>
</div>
<div id="errorModal" class="modal hide fade">
  <div class="modal-header">
    <h3>Spiff had an issue with what you did.</h3>
  </div>
  <div class="modal-body">
    Something weird happened. Spiff said "<code id="message"></code>".
    <pre id="traceback"></pre>
  </div>
</div>
{% endverbatim %}
</body>
