<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
<html ng-app="spiffApp">
<head>
  <meta charset="utf-8">
  {% bootstrap_stylesheet_tag %}
  {% bootstrap_stylesheet_tag "responsive" %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/main.css"/>
  <script>var userID = 1;</script>

  <script src="{{STATIC_URL}}/js/libs/jquery-1.10.2.min.js"></script>
  <script src="{{STATIC_URL}}/js/libs/jquery-qrcode.js"></script>
  <script src="{{STATIC_URL}}/js/libs/underscore-min.js"></script>
  <script src="{{STATIC_URL}}/js/libs/angular.min.js"></script>
  <script src="{{STATIC_URL}}/js/libs/angular-route.min.js"></script>
  <script src="{{STATIC_URL}}/js/libs/restangular.min.js"></script>
  <script src="{{STATIC_URL}}/js/libs/spiff.js"></script>
  <script src="{{STATIC_URL}}/js/ui/controllers.js"></script>
  <script src="{{STATIC_URL}}/js/ui/directives.js"></script>
  <script src="{{STATIC_URL}}/js/ui/application.js"></script>
  {% bootstrap_javascript_tag %}
  {% block extra_head %}{% endblock %}
  <title>Spiff</title>
</head>
<body>
{% verbatim %}
<div ng-include="'partials/epicenter.html'"></div>
<div class="container" id="canvas" ng-view>
</div>
<div id="errorModal" class="modal hide fade">
  <div class="modal-header">
    <h3>Spiff had an issue with what you did.</h3>
  </div>
  <div class="modal-body">
    Something weird happened. Spiff said "<code id="message"></code>".
    <pre id="traceback"></pre>
  </div>
</div>
{% endverbatim %}
</body>
