<ul>
    <li>To: {{invoice.user.member}}</li>
    <li>Created: {{invoice.created}}</li>
    <li>Due date: {{invoice.dueDate}}</li>
</ul>

{% if not invoice.open %}
  <div class="alert alert-info">
    This invoice has been marked as closed.
  </div>
{% endif %}

<table class="table table-striped table-hover">
  <tr><th>Item</th><th>Unit Price</th><th>Quantity</th><th>Total Price</th></tr>
  {% for line in invoice.items.all %}
    <tr>
      <td>{{line.name}}</td>
      <td>${{line.unitPrice}}</td>
      <td>{{line.quantity}}</td>
      <td>${{line.totalPrice}}</td>
    </tr>
    {% for discount in line.discounts.all %}
      <tr class="line-item-discount">
        <td>{{discount.description}}</td>
        <td>-${{discount.value}}</td>
        <td>1</td>
        <td>-${{discount.value}}</td>
      </tr>
    {% endfor %}
  {% endfor %}
  <tr class="invoice-total">
    <th colspan="3">Subtotal:</th>
    <td>${{invoice.total}}</td>
  </tr>
</table>
{% if invoice.payments.all %}
<h2>Payments</h2>
<table class="table table-striped table-hover">
  <tr>
    <th>Method</th>
    <th>Date</th>
    <th>Value</th>
  </tr>
  {% for payment in invoice.payments.all %}
    <tr>
      <td>{{payment.get_method_display}}</td>
      <td>{{payment.created}}</td>
      <td>-${{payment.value}}</td>
    </tr>
  {% endfor %}
  <tr class="invoice-total">
    <th colspan="2">Paid Total:</th>
    <td>${{invoice.paidBalance}}</td>
  </tr>
</table>
{% endif %}

<table class="table invoice-summary table-bordered table-hover">
  <tr class="invoice-total"><th>Subtotal</th><td>${{invoice.total}}</td></tr>
  <tr class="invoice-total"><th>Payments</th><td>${{invoice.paidBalance}}</td></tr>
  <tr class="invoice-total"><th>Grand Total</th><td>{{invoice.unpaidBalance}}</td></tr>
</table>
