#header {
  color: #000;
  border-bottom: 1px solid black;
  padding: 5px;
}

#footer {
  border-top: 1px solid black;
  background: #fff url('../logo.png') no-repeat bottom right;
}

#footer #copyright {
  border-left: 3px solid black;
  padding-left: 3px;
}

#epicenter {
  float: right;
}

#navbar {
  border: 1px 0px solid black;
}

#navbar li {
  float: left;
  padding: 3px;
  background-color:#333;
}

#navbar li a {
  display:block;
  padding: 3px;
  background-color:#aaa;
  color: #fff;
}

#content {
  background-color:#fff;
  color:#000;
  padding: 5px;
}

form label {
  display:block;
}

form input {
  margin-left: 3em;
  width: 100%;
}

form .helptext {
  display:block;
  margin-left: 3em;
  font-size:small;
}

table {
  width: 100%;
}

table th {
  font-weight: bold;
  font-size:large;
  border-bottom: 3px solid black;
}

table tr {
  border-bottom: 1px solid black;
}

table tr td {
  padding: 3px;
  background-color: #ccc;
}

table tr.odd td {
  padding: 3px;
  background-color: #eee;
}

table tr:hover td {
  background-color: #fff !important;
}

#search form input {
  display:inline;
  width:auto;
  margin:0;
}

div.messages {
  text-align: center;
  font-size: large;
  background-color: #ffc;
  color: #000;
  border: 3px solid #ffdca8;
}

div.messages li {
  list-style: none;
}

ul.errorlist {
  background-color:#faa;
  border: 3px solid #f00;
  text-align: center;
  float:right;
  padding: 5px;
}

ul.errorlist li {
  list-style: none;
  margin:0;
}

select[multiple] {
  height: 15em;
}

.timepicker {
  width: 2em;
  margin: 0;
}
